body{
    text-align: center !important;
}

#final{
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    margin: auto;
    display: block;
}
.picture{
    width: 25rem;
    height: 20rem;
    margin: auto;
}

#drop-zone > .imgContainer{
    border-style: solid;
}

.imgContainer{
    overflow: hidden;
    float: left;
}

.imgContainer > img{
    height: 20rem;
    width: 25rem;
}